.content-list-page {
  @apply h-screen bg-slate-200;
  display: grid;
  grid-template: "list content-box" auto / 200px auto;
  gap: 1px;
  .list {
    grid-area: list;
    @apply flex flex-col px-1 py-2 bg-slate-200 overflow-y-scroll;
    .item {
      @apply my-1 px-1 py-1 rounded text-xs flex justify-between;
    }
    .active {
      @apply bg-blue-600 text-white;
    }
  }
  .content-box {
    grid-area: content-box;
    @apply h-full;
  }
}
