.content-list-page {
  @apply h-screen bg-white text-xs;
  display: grid;
  grid-template: "list content-box" auto / 200px auto;
  gap: 1px;
  .left-box {
    @apply flex flex-col flex-shrink px-2 py-2 h-full  overflow-y-scroll ;
  }
  .list-box {
    @apply flex-1 overflow-y-scroll;
  }
  .content-box {
    grid-area: content-box;
    @apply h-full;
  }
}
