.category-page {
  display: grid;
  grid-template:
    "categories content" auto
    "nav content" 30px/120px auto;
  gap: 1px;
  @apply h-screen bg-gray-200;
  .categories {
    @apply px-2 h-full bg-gray-100 text-xs text-slate-700 overflow-y-auto;
    grid-area: categories;
    .item {
      @apply  mb-1 py-1 px-2 truncate block cursor-pointer rounded-md;
      &:hover {
        @apply bg-blue-500  text-white;
      }
      &.active {
        @apply bg-blue-600 text-white;
      }
    }
  }
  .nav {
    grid-area: nav;
    @apply flex justify-around bg-gray-100;

  }
  .content {
    grid-area: content;
  }
}
