.category-page {
  display: grid;
  grid-template:
    "categories content" auto
    "nav content" 30px/140px auto;
    gap: 4px;
  @apply h-full bg-red-200;
  .categories {
    @apply px-2 h-full text-xs bg-slate-300 text-slate-700 overflow-y-auto ;
    grid-area: categories;
    .item {
      @apply flex items-center mb-1 py-1 px-2 truncate cursor-pointer rounded-md;
      &:hover {
        @apply bg-blue-500  text-white;
        span {
          @apply  text-white;
        }
      }
      &.active {
        @apply bg-blue-600 text-white;
        span {
          @apply  text-white;
        }
      }
      span {
        @apply mr-2;
      }
    }
  }
  .nav {
    grid-area: nav;
    @apply flex justify-around bg-gray-100;

  }
  .content {
    grid-area: content;
  }
}
